<% if @user.errors.any? %>
	<div id="class_explanation">
		<div class="alert alert-error">
			The form contains <%= pluralize(@user.errors.count, "error")%>.
		</div>
		<ul>
			<% @user.errors.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>	
<% end %>